<!-- <div *ngIf="user"> -->
<nav class="header">
  <ul>
      <li>
        <div class="img">
        <a href="home"><img src="assets/img/icons8-accueil-48.png"></a>
        </div>
      </li>
      <li>
        <div class="img">
        <a href="books-search"><img src="assets/img/icons8-détective-64.png"></a>
        </div>
      </li>
      <li>
        <div class="img">
        <a href="my-books"><img src="assets/img/icons8-coeurs-64.png"></a>
        </div>
      </li>
      <li>
        <div class="img">
        <a href="profile">
        <img src="assets/img/icons8-changer-d'utilisateur-homme-40.png">
        </a>
        </div>
      </li>
  </ul>
</nav>
<!-- </div> -->

