<section class="main">
    <div class="divlogin clsScroll">
        <form class=" p-5">
  ​
      <select name="genre" class="form-control mb-4">
        <option value="">Select a genre</option>
        <option value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="bd">BD</option>
        <option value="poesie">Poésie</option>
        <option value="Sciencefiction">Science fiction</option>
        <option value="Thriller">Thriller</option>
      </select>
  ​
      <input type="text" id="#book_title " class="form-control mb-4" placeholder="Title">
  ​
      <input type="text" id="#book_author " class="form-control mb-4" placeholder="Author">
  ​
      <input type="text" id="#postcode" class="form-control mb-4" placeholder="Postcode">
  ​
      <div>
        <button class="btn btn-info btn-block my-4" type="submit">Search</button>
      </div>
  </form>
  ​
    </div>
  </section>

<footer class="footer">
    <nav>
        <ul>
            <li>
                <a href="terms-of-use">Terms of use</a>
            </li>
            <li>
                <a href="privacy-policy">Privacy policy</a>
            </li>
            <li>
                <a href="contact">Contact</a>
            </li>
        </ul>
    </nav>
</footer>