<div class="main">
    <br>
    <h3>Contact us</h3>

    <div class="container">
        <form action="/action_page.php">

                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            
                <select id="country" name="country">
                    <option value="france">France</option>
                    <option value="germany">Germany</option>
                    <option value="poland">Poland</option>
                </select>

            <div class="subject">
                <label class="label">Subject:</label>
                 
                    <textarea id="subject" name="subject" style="height:200px" placeholder="Write something.">
                    </textarea>
            </div>  

            <input type="button" value="Send eMail" onclick="window.location.href=''" />  
               
        </form>
    </div>
</div>


<footer class="footer">
        <nav>
            <ul>
                <li>
                    <a href="terms-of-use">Terms of use</a>
                </li>
                <li>
                    <a href="privacy-policy">Privacy policy</a>
                </li>
                <li>
                    <a href="contact">Contact</a>
                </li>
            </ul>
        </nav>
</footer>