.flex-caption {
    width: 50%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

.flex-caption, img{
    width: 10em;
}

.home-background{
    background: url('/assets/img/home.jpg');
    background-repeat: no-repeat;
    text-align: center;
    height: 38em;
    width: auto;
}
.login-button{
    margin-top: 17em;
}
.pagggg{
    margin-bottom: 6em;
    margin-top: -6em;
    background: none;
}

.w3-button{
    margin-bottom: 6em;
}